.header {
    background-color: #446eaf;
}

.header__content {
    box-sizing: border-box;
    padding: 10px;
padding-top: 17px;
    display: flex;
    padding-left: 70px;
    margin: 0 auto;
    height: 60px;
    background: linear-gradient(92.52deg, #74BBFD 0%, #97E3CC 100%);
}
.header__logo {
    margin-top: 176px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}
.header__text{
    align-content: end;
    font-family: Roboto, serif;
    font-style: normal;
    margin-right: 100px;
    margin-top: 4px;
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
    margin-left: auto;
    line-height: 21px;
}
