
.button {
    box-shadow: 0px 2px 4px rgba(69, 211, 168, 0.3);
    border-radius: 15px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 29px;
    color: #FFFFFF;
    max-width: 110px;
    width: 100%;
    height: 30px;
    text-align: center;
    margin-top: 11px;
    cursor: pointer;
    border: none; outline: none;
}

.button_create {
    background: #50D5AD;
    margin-right: 25px;
}

.button_upload {
    background: #74BBFD;
    margin-right: 228px;
    max-width: 180px;

}

.button_upload:before {
    content: url("images/cloud.svg");
    width: 19px;
    padding-right: 10px;
    height: 12px;

}

.button_upload:hover {
    background: #49A7FF;
}
.button_upload:active {

    background: #74BBFD;
}
.button_upload:active::before {
    content: url("images/spinner.svg");
}
.button_create:hover {
    background: #0ECB92;
}
.button_create:active{
    background: #0ECB92;
}


.edit_block {
}

.edit_block__content {
    display: flex;
    margin-bottom: 12px;
}

.edit__input {
    max-width: 400px;
    width: 100%;
    padding-bottom: 8px;
    border-bottom: inset;
    border-bottom-width: 1px;
    border-bottom-color: #626262;
    color: #626262;
    margin-right: 14px;
    margin-top: 14px;
}


.edit__input:hover {
    border-color: #50D5AD;
    color: #50D5AD;
}

input {
    border: none;
}