.pencil {
    position: absolute;
    top: 35%;
    left: 93%;
    width: 14px;
    height: 14px;
    visibility: hidden;
    background-color: #979797;
    mask-image: url("images/pencil.svg");
    cursor: pointer;
}
.article:hover > .trash {
    visibility: visible;
}
.article:hover > .pencil {
    visibility: visible;
}
.trash {
    width: 11px;
    height: 14px;
    position: absolute;
    left: 96%;
    top: 35%;
    background-color: #979797;
    mask-image: url("images/bin.svg");
    visibility: hidden;
    cursor: pointer;
}
.trash:hover{
    background-color: red;
}
.pencil:hover{
    background-color: #4A90E2;
}