.article {
    position: relative;
    font-family: Roboto, sans-serif;
    margin-bottom: 5px;
    background: #FFFFFF;
    border: 0.5px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 1px 4px rgba(51, 51, 51, 0.2);
}

.article:hover {
    border: 0.5px solid #97E3CC;
    box-shadow: 0px 2px 6px rgba(151, 227, 204, 0.3);
}

.article:hover::before {
    position: absolute;
    top: 35%;
    left: 85%;
}

.article:hover::after {
    position: absolute;
    left: 88%;
    top: 35%;
}

.article:active {

}

.article__description {
    width: fit-content;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
}



.article__title {
    color: #244f92;
    margin: 0;
}

.check-box__box {
    position: relative;
    cursor: pointer;
    margin: 15px;
    display: inline-flex;
    width: 15px;
    height: 15px;
    border: none;
    background: url("./images/Oval.svg") no-repeat;

}
input[type="checkbox"]{
    display: none;
    background: url("./images/Oval.svg") no-repeat;
    cursor: pointer;
}
input[type="checkbox"]:checked + .check-box__box {
    background: url("./images/check_mark.svg") no-repeat;
}


