.main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    max-width: 1366px;
    padding: 0 10px;
    margin: 0 auto;
    background-color: #FFFFFF;
}
body{
    background-color: #FFFFFF;
}

.main__side-bar {
    box-sizing: border-box;
    padding: 15px 0 0;
    max-width: 168px;
    justify-self: stretch;
}

.main__content {
    flex-grow: 1;
    box-sizing: border-box;
    padding: 15px 4px 0;
    background-color: #fff;
}
.main__edit_block{
    flex-grow: 1;
    box-sizing: border-box;
    padding: 15px 10px 0;
    background-color: #fff;
}
