.button {
    box-shadow: 0px 2px 4px rgba(69, 211, 168, 0.3);
    border-radius: 15px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 29px;
    color: #FFFFFF;
    max-width: 110px;
    width: 100%;
    height: 30px;
    text-align: center;
    margin-top: 11px;
    cursor: pointer;
    border: none; outline: none;

}
.button_create:hover {
    background: #0ECB92;
}
.button_create:active{
    background: #0ECB92;
}
.button_create {

    background: #50D5AD;
    margin-right: 25px;
}
.button_upload {
    background: #74BBFD;
    margin-right: 228px;
    max-width: 130px;

}
.button_login{
    background: #74BBFD;
    box-shadow: 0px 2px 4px rgba(116, 187, 253, 0.3);
    max-width: 300px;
    max-height: 40px;
    border-radius: 100px;
}
.button_login:hover {
    background: #49A7FF;
    box-shadow: 0px 2px 4px rgba(116, 187, 253, 0.3);
}
.button_login:active {
    background: #49A7FF;
    box-shadow: 0px 2px 4px rgba(116, 187, 253, 0.3);
}
.button_create:disabled{
    background: #BDBDBD;
    box-shadow: 0px 2px 4px #BDBDBD;
}
.button_login:disabled{
    background: #BDBDBD;
    box-shadow: 0px 2px 4px #BDBDBD;
}


