.login {
    display: flex;
}

.login__content {

    margin-left: 533px;
    margin-top: 101px;
    max-width: 300px;
    max-height: 357px;
    width: 100%;
    height: 100%;
}

.login__logo {
    margin-left: 44px;
    margin-bottom: 36px;
    width: 221px;
    height: 43px;
    background: url("images/logoLogin.svg") no-repeat;
}

.login__field {
    margin-bottom: 30px;
}

.login__field_password {
    margin-bottom: 4px;
}

.login__text {
    font-family: Roboto, sans-serif;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 0;
    font-size: 13px;
    color: #878787;
}

.login__link {
    margin-top: 5px;
    font-size: 13px;

    text-align: center;
}

.login__link_links {
    font-family: Roboto, sans-serif;
    text-decoration: none;
    color: black;
}

.login__data_agree {
    height: 14px;

    vertical-align: center;
    display: flex;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    margin-top: 20px;
    color: #BDBDBD;
    letter-spacing: 0.428571px;
}



.check-box__login {
    position: relative;
    cursor: pointer;
    margin: 15px;
    margin-right: 1px;
    margin-top: 0;
    margin-left: 0;
    display: inline-flex;
    width: 15px;
    height: 15px;
    border: none;
    background: url("./images/rectangle_blue.svg") no-repeat;

}
.check-box__login_disable{
    background: url("./images/rectangle.svg") no-repeat;
}
input[type="checkbox"] {
    display: none;
    cursor: pointer;
}

input[type="checkbox"]:checked + .check-box__login {
    background: url("./images/union.svg") no-repeat;
}

.error__text{
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 13px;
    color: #FD5A6F;
}

.login__field_error:after{
    position: absolute;
    font-family: Roboto, serif;
    font-style: normal;
    margin-top: 8px;
    font-weight: normal;
    font-size: 13px;
    content: "error text";
    color: #FD5A6F;
}
.login__field:hover:before{
    position: absolute;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 10px;
    line-height: 15px;
    content: "login";
    color: #626262;
}
.login__field_password:hover:before{
    position: absolute;
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 15px;
    content: "password";
    color: #626262;
}
