.side-bar {
    width: 100%;
}
.side-bar__item {
    font-family: Roboto, sans-serif;
    padding-left: 27px;
    color: #78C2F5;
    list-style-type: none;
    margin-bottom: 22px;
    padding-bottom: 2px;

}
.side-bar__title {
    top: calc(50% - 21px / 2 + 0.5px);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    width: fit-content;
    display: initial;
    margin-right: 100px;
    list-style: none;
}

.side-bar__list {
    margin-top: 12px;
    padding-left: 2px;
}

.side-bar__link {
    position: relative;
    text-decoration: none;
    color: #979797;
}


.side-bar__link_active {
    color: #78C2F5;
}
.side-bar__link:hover > .side-bar__pic{
    moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.side-bar__pic{
    background-color: #979797;
    width: 20px;
    height: 20px;
    right: 72px;
    position: absolute;

    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition:all 400ms;
    -moz-transition:all 400ms;
    -o-transition:all 400ms;
    transition:all 400ms;
}
.side-bar__pic_do{

    mask: url("images/todo.svg") no-repeat ;
}
.side-bar__pic_done{
    right: 69px;
    mask: url("images/done.svg") no-repeat ;
}

.side-bar__link_active > .side-bar__pic {
    background-color: #78C2F5;
}